.about {
  height: 100vh;
  display: flex;
}

.about__left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(0 0, 46% 0, 88% 100%, 0% 100%);
  background-color: #ff5403;
}

.about__left__img {
  width: 60%;
  height: 60%;
  position: absolute;
}
.about__right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
  }

  .about__left {
    background-color: white;
  }

  .about__left__img {
    width: 50%;
    height: 150%;
    position: absolute;
  }
}
