.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 50;
  top: 0px;
}

.navbar__home {
  flex: 0.7;
  padding: 1%;
}

.navbar_menu {
  flex: 0.3;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

a {
  text-decoration: none;
}
